/* UNIVERSAL STYLES */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);

h1, h2, h3, h4, h5, h6, ul, li, p, a, .button {
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #5a5a5a;
}

#timer {
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

main {
    text-align: center;
    align-items: center;
    flex: 1 0 auto;
    margin: 25vh 200px 0 200px;
}

footer {
    text-align: center;
}

.questionPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* LIST STYLES */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    padding-left: 50px;
}

li {
    margin: 5vh 1.5vh 5vh 1.5vh;
}

.questionPage, .submitPage, .highScorePage, #checkLine {
    display: none;
}

.button {
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #f2eeee;
    color: #5a5a5a;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 960px) {
    main {
        margin: 15vh 50px 0 50px;
    }
}

@media only screen and (max-width: 520px) {
    main {
        margin: 5vh 10px 0 10px;
        background-color: lightgrey;
    }
}